In [23]:
#LIBRARIES
import pandas as pd  ## data manipulation
import numpy as np  ## mathematical Calculations

import seaborn as sns   ## for advance visualization
import matplotlib.pyplot as plt   ## for visualization

import scipy as sp
import os

from matplotlib import figure

## preprocessing modules
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler  ### for scaling
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder  ### for converting categorical values in numerical
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

import joblib

In [24]:
file_path = "svm_model.pkl"
svm_model = joblib.load(file_path)

In [25]:
df = pd.read_csv("test.csv")
df.drop(columns=["ID", 'start', 'end', 'IP', 'Unnamed: 18', 'Device_Category'], axis=1, inplace=True)
df

,UA_Vendor,UA_OS_name,UA_major,UA_minor,TCP_Vendor,TCP_OS_name,TCP_major,TCP_minor,Domain_Vendor,Domain_OS_name,DHCP_Vendor,DHCP_OS_name,Final_OS,Mac prefix
0,Infinix,Android,234,123,Infinix,Android,123,1,Infinix,Android,Infinix,Android,Android 3.1,14:7z:91
1,Google,Android,5,1,Google,Android,6,7,Google,Android,Google,Android,Android 5.1,90:21:81

In [26]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

Index(['UA_Vendor', 'UA_OS_name', 'TCP_Vendor', 'TCP_OS_name', 'Domain_Vendor',
       'Domain_OS_name', 'DHCP_Vendor', 'DHCP_OS_name', 'Final_OS',
       'Mac prefix'],
      dtype='object')

In [27]:
for column in categorical_columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
df

,UA_Vendor,UA_OS_name,UA_major,UA_minor,TCP_Vendor,TCP_OS_name,TCP_major,TCP_minor,Domain_Vendor,Domain_OS_name,DHCP_Vendor,DHCP_OS_name,Final_OS,Mac prefix
0,1,0,234,123,1,0,123,1,1,0,1,0,0,0
1,0,0,5,1,0,0,6,7,0,0,0,0,1,1

In [28]:
predictions = svm_model.predict(df)
print(predictions)

[0 1]